{% extends "base.html" %}

{% block title %}article | search{% endblock %}

{% block content %}
{% if search %}
<div class="list-article-content">
<div class="left">
{% for post in object_list %}


	{% if post.published == True %}
	<!-- <div class="list-content"> -->
	<a href="{% url 'detailpost' post.pk %}" title='{{post.description}}'>{{post.title}}</a><br>
	<!-- </div> -->
		<!-- <hr class="hr-center"> -->
	{% else %}

		{% if user.is_staff %}
		<!-- <div class="list-content"> -->
		<a href="{% url 'detailpost' post.pk %}" title='{{post.description}}' >{{post.title}}</a><br>
		<!-- </div> -->
		{% endif %}

	{% endif %}

{% endfor %}

</div>

<div class="right">
<ul>
	{% for cats in category %}
	<li><a href="{% url 'listcategory' cats.pk %}">{{cats.name}}</a></li>
	{% endfor %}
</ul>
</div>

</div>
{% else %}
<p>rien trouver ...</p>
{% endif %}
{% endblock %}